.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 4rem 1rem;
  text-align: center;
}

.inputForm {
  width: 100%;
  
}

.quote {
  background-color: aqua;
  border: 1px dashed black;
  border-radius: 10px;
  padding: 1rem 4rem;
}